## 작업 1유형

* 데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)
* 데이터 설명 : 포켓몬 정보
* data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [4]:
import pandas as pd

pocketmon = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
pocketmon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
pocketmon.shape

(800, 13)

#### Q6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [8]:
pre = pocketmon.sort_values(by='Attack', ascending= False).head(400)['Legendary'].sum()
post = pocketmon.sort_values(by='Attack', ascending= False).tail(400)['Legendary'].sum()
pre-post

57

#### Q7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [17]:
pocketmon[['Type 1', 'Total']].groupby('Type 1').mean().sort_values(by = 'Total', ascending=False).index[2]

'Flying'

#### Q8. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [33]:
temp = pocketmon.dropna().reset_index(drop=True)
std = len(temp)*0.6

In [36]:
temp[temp.index <= std].Defense.quantile(0.25)

50.0

#### Q9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [50]:
std = pocketmon[pocketmon['Type 1'] == 'Fire'].Attack.mean()
temp = pocketmon[pocketmon.Attack >= std]
len((temp[temp['Type 1'] == 'Water']))

37

#### Q10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [63]:
temp = pocketmon[['Generation', 'Speed', 'Defense']]
temp['diff'] = abs(temp['Speed'] - temp['Defense'])
temp.sort_values(by = 'diff', ascending = False)['Generation'].head(1)

<ipython-input-63-0afcb80c5a75>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['diff'] = abs(temp['Speed'] - temp['Defense'])

230    2
Name: Generation, dtype: int64

## 작업 2유형
* 데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)
* 데이터 설명 : 뇌졸증 발생여부 예측
* train : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv
* test : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv

In [129]:
import pandas as pd

train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

In [130]:
test.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [131]:
train.isnull().sum()

id                    0
gender                0
age                   0
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                  52
smoking_status        0
stroke                0
dtype: int64

In [132]:
test.isnull().sum()

id                    0
gender                0
age                   0
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                  57
smoking_status        0
dtype: int64

In [133]:
train['bmi'] = train['bmi'].fillna(train['bmi'].mean())
test['bmi'] = test['bmi'].fillna(test['bmi'].mean())

In [134]:
x = train.drop(['id', 'stroke'], axis = 1)
y = train['stroke']

In [135]:
test_x = test.drop('id', axis = 1)

In [119]:
xd = pd.get_dummies(x)
test_d = pd.get_dummies(test_x)

In [136]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(xd, y)

In [137]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(train_x, train_y)

RandomForestClassifier()

In [138]:
pred_y = rf.predict_proba(val_x)[:, 1]

from sklearn.metrics import roc_auc_score
roc_auc_score(val_y, pred_y)

0.7808441558441559

In [139]:
test_d[list(set(train_x.columns) - set(test_d))] = 0
test_d = test_d[train_x.columns]

In [140]:
pred_test = rf.predict_proba(test_d)

In [141]:
pd.DataFrame({'id':test.id, 'stroke': pred_test[:,1]}).to_csv('기출2회차.csv', index=False)
check = pd.read_csv('기출2회차.csv')
check.head()

      id  stroke
0  47472    0.08
1  36841    0.35
2   3135    0.09
3  65218    0.00
4   1847    0.00