## 작업 1유형

* 데이터 출처 : link (후처리 작업)
* 데이터 설명 : 2010-2019 스포티파이 TOP100 노래
* dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv

In [1]:
import pandas as pd

sing = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
sing.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo

In [2]:
sing.shape

(1003, 17)

#### Q1. 데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라

In [3]:
sing['top year'].value_counts()

2010.0    100
2011.0    100
2012.0    100
2013.0    100
2014.0    100
2015.0    100
2016.0    100
2017.0    100
2018.0    100
2019.0    100
Name: top year, dtype: int64

In [5]:
sing.isnull().sum()

title            3
artist           3
top genre        3
year released    3
added            3
bpm              3
nrgy             3
dnce             3
dB               3
live             3
val              3
dur              3
acous            3
spch             3
pop              3
top year         3
artist type      3
dtype: int64

In [6]:
sing = sing.dropna()
sing['rank'] = list(range(1, 101))*10
sing

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type,rank
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009.0,2022‑02‑17,140.0,81.0,61.0,-6.0,23.0,23.0,203.0,0.0,6.0,70.0,2010.0,Duo,1
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010.0,2022‑02‑17,138.0,89.0,68.0,-4.0,36.0,83.0,192.0,1.0,8.0,68.0,2010.0,Duo,2
2,I Need A Dollar,Aloe Blacc,pop soul,2010.0,2022‑02‑17,95.0,48.0,84.0,-7.0,9.0,96.0,243.0,20.0,3.0,72.0,2010.0,Solo,3
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010.0,2022‑02‑17,93.0,87.0,66.0,-4.0,4.0,38.0,180.0,11.0,12.0,80.0,2010.0,Solo,4
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010.0,2022‑02‑17,104.0,85.0,69.0,-6.0,9.0,74.0,268.0,39.0,5.0,79.0,2010.0,Solo,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,SICKO MODE,Travis Scott,hip hop,2018.0,2020‑06‑22,155.0,73.0,83.0,-4.0,12.0,45.0,313.0,1.0,22.0,86.0,2019.0,Solo,96
996,EARFQUAKE,"Tyler, The Creator",hip hop,2019.0,2020‑06‑22,80.0,50.0,55.0,-9.0,80.0,41.0,190.0,23.0,7.0,85.0,2019.0,Solo,97
997,Boasty (feat. Idris Elba),Wiley,grime,2019.0,2020‑06‑22,103.0,77.0,89.0,-5.0,9.0,46.0,177.0,1.0,7.0,68.0,2019.0,Solo,98
998,Strike a Pose (feat. Aitch),Young T & Bugsey,afroswing,2019.0,2020‑08‑20,138.0,58.0,53.0,-6.0,10.0,59.0,214.0,1.0,10.0,67.0,2019.0,Duo,99
999,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,2019.0,2020‑06‑22,98.0,59.0,80.0,-7.0,13.0,18.0,200.0,2.0,15.0,75.0,2019.0,Solo,100

In [12]:
sing[sing['rank'] == 1].bpm.mean()

125.6

#### Q2. 2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

In [14]:
sing[sing['top year'] == 2015].artist.value_counts().index[0]

'Taylor Swift'

#### Q3. 년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

In [18]:
sing[sing['rank'] <= 10]['top genre'].value_counts().index[1]

'atl hip hop'

#### Q4. 피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가? ★

In [44]:
temp = sing[['title']]
temp = temp[temp.title.str.contains('feat')]
temp['feat'] = temp['title'].str.split("feat.").str[1].str[:-1]
temp['feat'].value_counts().index[0]

' Bruno Mars'

#### Q5. top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [49]:
sing[sing['top year'] != sing['year released']].groupby('top year').size().sort_values().index[-1]

2016.0

#### Q6. artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가? ★

In [56]:
sing[sing['artist'].str.lower().str.contains('q')].artist.nunique()

6

#### Q7. 년도 상관없이 전체데이터에서 1 - 50위와 51 - 100위간의 dur 컬럼의 평균값의 차이는?

In [57]:
sing[sing['rank'] <= 50].dur.mean() - sing[sing['rank'] >= 51].dur.mean()

0.896000000000015

#### Q8. title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x) ★

In [74]:
sing['title'].str.split('\(feat').str[0].str.split().explode().str.lower().value_counts().index[0]

'the'

#### Q9. 년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

In [84]:
sing.groupby('top year')['nrgy'].mean().iloc[0] - sing.groupby('top year')['nrgy'].mean().iloc[-1]

13.860000000000007

#### Q10. artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

In [98]:
temp = sing.groupby(['artist', 'artist type']).size().groupby('artist').size().to_frame('num')
temp[temp.num > 1].index

Index(['Rudimental'], dtype='object', name='artist')

## 작업 2유형

* 데이터 설명 : 센서데이터로 동작 유형 분류 (종속변수 pose : 0 ,1 구분)
* x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv
* y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv
* x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv
* 출처(참고, 데이터 수정)

In [100]:
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv')

x_train.head()

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

In [101]:
y_train.head()

   ID  pose
0   0     1
1   2     0
2   4     1
3   5     0
4   6     1

In [102]:
x_test.head()

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,1,-12.0,-7.0,3.0,6.0,-21.0,-28.0,1.0,6.0,-18.0,...,2.0,20.0,-25.0,-2.0,1.0,0.0,12.0,-2.0,-1.0,-4.0
1,3,-9.0,-16.0,-2.0,-1.0,39.0,17.0,3.0,1.0,-9.0,...,0.0,1.0,-1.0,-5.0,-4.0,-7.0,56.0,28.0,1.0,6.0
2,8,-4.0,-1.0,-1.0,1.0,3.0,-1.0,4.0,7.0,3.0,...,-4.0,-8.0,5.0,2.0,0.0,2.0,13.0,-3.0,0.0,4.0
3,10,2.0,1.0,2.0,1.0,-14.0,-2.0,0.0,-3.0,-25.0,...,-1.0,-5.0,12.0,-3.0,-5.0,-9.0,4.0,20.0,-1.0,-4.0
4,17,33.0,-8.0,-4.0,-3.0,-14.0,-6.0,-1.0,0.0,23.0,...,-20.0,-2.0,6.0,2.0,5.0,23.0,2.0,-21.0,-41.0,-23.0

In [103]:
x_train.isnull().sum()

ID           0
motion_0     0
motion_1     0
motion_2     0
motion_3     0
            ..
motion_59    0
motion_60    0
motion_61    0
motion_62    0
motion_63    0
Length: 65, dtype: int64

In [104]:
x_test.isnull().sum()

ID           0
motion_0     0
motion_1     0
motion_2     0
motion_3     0
            ..
motion_59    0
motion_60    0
motion_61    0
motion_62    0
motion_63    0
Length: 65, dtype: int64

In [105]:
x = x_train.drop('ID', axis=1)
y = y_train['pose']
xd_test = x_test.drop('ID', axis=1)

In [106]:
xd = pd.get_dummies(x)
td = pd.get_dummies(xd_test)

In [107]:
from sklearn.model_selection import train_test_split
train_x, val_x, train_y, val_y = train_test_split(x, y)

In [109]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(train_x, train_y)

RandomForestClassifier()

In [114]:
pred_val = rf.predict_proba(val_x)[:, 1]

In [116]:
from sklearn.metrics import roc_auc_score

roc_auc_score(val_y, pred_val)

0.9999571018608917

In [118]:
pred_test = rf.predict_proba(td)[:, 1]

In [121]:
pd.DataFrame({'id': x_test['ID'], 'pose': pred_test}).to_csv('기출3회차.csv', index=False)
check = pd.read_csv('기출3회차.csv')
check.head()

   id  pose
0   1  1.00
1   3  0.99
2   8  1.00
3  10  1.00
4  17  0.00