## 작업2유형-의료비용예측

* 데이터 설명 : 의료비용 예측문제 (종속변수 :charges)
* x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_train.csv
* y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_train.csv
* x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_test.csv
* x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_test.csv
* 데이터 출처 :https://www.kaggle.com/mirichoi0218/insurance/code(참고, 데이터 수정)

In [1]:
import pandas as pd

x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_test.csv")

x_train.head()

   ID  age     sex     bmi  children smoker     region
0   2   35  female  35.860         2     no  southeast
1   3   28  female  23.845         2     no  northwest
2   4   23  female  32.780         2    yes  southeast
3   6   52  female  25.300         2    yes  southeast
4   7   63    male  39.800         3     no  southwest

In [2]:
y_train.head()

   ID      charges
0   2   5836.52040
1   3   4719.73655
2   4  36021.01120
3   6  24667.41900
4   7  15170.06900

In [3]:
x_test.head()

   ID  age     sex     bmi  children smoker     region
0   0   34    male  42.900         1     no  southwest
1   1   18  female  28.215         0     no  northeast
2   5   43  female  29.900         1     no  southwest
3  21   28    male  33.820         0     no  northwest
4  26   56  female  41.910         0     no  southeast

In [4]:
x_train.isnull().sum()

ID          0
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

In [7]:
x_train_d = x_train.drop('ID', axis=1)
x_test_d = x_test.drop('ID', axis=1)
y = y_train['charges']

xd = pd.get_dummies(x_train_d)
td = pd.get_dummies(x_test_d)

In [9]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(xd, y)


from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(train_x, train_y)

pred_val = rf.predict(val_x)


from sklearn.metrics import r2_score
r2_score(val_y, pred_val)

0.827973786302167

In [10]:
td[list(set(train_x.columns) - set(td.columns))] = 0
td = td[train_x.columns]

pred = rf.predict(td)

In [11]:
pd.DataFrame({'id':x_test.ID, 'price': pred}).to_csv('의료비용.csv', index=False)
check = pd.read_csv('의료비용.csv')
check.head()

   id         price
0   0   8733.174045
1   1   4102.463254
2   5   7896.697489
3  21   3290.577706
4  26  11134.831994