## ì—°ìŠµë¬¸ì œ 100ë¬¸ì œ

In [1]:
import pandas as pd

### ìœ íŠœë¸Œ ì¸ê¸° ë™ì˜ìƒ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv <br>
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­) <br>
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [2]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv"
youtube = pd.read_csv(dataurl)
youtube.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

#### Q. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)<span style="color:red"> Re </span>

In [3]:
list(youtube.loc[youtube.channelId.isin(youtube['channelId'].value_counts().head(10).index)].channelTitle.unique())

['ì¥ì‚ì­ˆ',
 'ì´ëª‡ëª…',
 'íŒŒë¿Œë¦¬',
 'ì§¤íˆ°',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'SPOTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'BANGTANTV']

#### Q. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [4]:
list(youtube.loc[youtube.dislikes > youtube.likes].channelTitle.unique())

['í•«ë„ê·¸TV',
 'ASMR ì• ì •TV',
 'í•˜ì–€íŠ¸ë¦¬HayanTree',
 'ì–‘íŒ¡ YangPang',
 'ì² êµ¬í˜• (CHULTUBE)',
 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
 '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€',
 'ì˜¤ë©”í‚´TV',
 'ìœ¡ì§€ë‹´',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
 'Gen.G esports']

#### Q. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [7]:
change = youtube[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target))

71

#### Q. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [9]:
youtube.trending_date2 = pd.to_datetime(youtube.trending_date2)

In [26]:
import datetime as dt

youtube.loc[youtube.trending_date2.dt.weekday == 6, 'categoryId'].value_counts().index[0]

24

#### Q. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [47]:
youtube.pivot_table(index = youtube.trending_date2.dt.day_name(), columns = youtube.categoryId, aggfunc = 'size')

categoryId,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29
trending_date2,,,,,,,,,,,,,,,
Friday,243,120,833,187,633,90,283,1288,568,2976,444,369,183,171,12
Monday,263,105,837,215,668,92,298,1373,594,3148,453,378,205,160,10
Saturday,255,119,776,198,592,87,296,1289,570,3066,422,364,183,173,10
Sunday,274,99,830,217,636,91,289,1337,556,3096,437,363,199,167,9
Thursday,246,128,890,207,682,92,282,1341,560,2954,470,375,194,166,13
Tuesday,257,119,894,208,708,89,285,1375,569,3084,452,394,194,161,11
Wednesday,234,129,917,207,706,85,291,1333,566,3090,468,385,212,165,12

#### Q. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)<span style="color:red"> Re </span>

In [5]:
target2 = youtube.loc[youtube.view_count!=0]
target2['ratio'] = (target2['comment_count']/target2['view_count']).dropna()

result = target2.sort_values(by='ratio', ascending = False).iloc[0].title
result

<ipython-input-5-166d941cbc19>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target2['ratio'] = (target2['comment_count']/target2['view_count']).dropna()

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

#### Q. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)<span style="color:red"> Re </span>

In [10]:
ratio = (youtube['comment_count']/youtube['view_count']).dropna().sort_values()
ratio[ratio!=0].index[0]

youtube.iloc[ratio[ratio!=0].index[0]].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

#### Q. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)<span style="color:red"> Re </span>

In [16]:
liker = (youtube.dislikes/youtube.likes).dropna().sort_values()
youtube.iloc[liker[liker!=0].index[0]].title

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

#### Q. ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [26]:
youtube.groupby('channelTitle').size().sort_values(ascending=False).index[0]

'ì§¤íˆ°'

#### Q. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”? <span style="color:red"> Re </span>

In [47]:
(youtube[['title', 'channelId']].value_counts() >= 20).sum()

40

### ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr <br>
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘) <br>
dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv <br>
dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [48]:
# ë°ì´í„°ë¶ˆëŸ¬ì˜¤ê¸°

dataurl1= "https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv"
dataurl2 = "https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv"

video = pd.read_csv(dataurl1)
channel = pd.read_csv(dataurl2)

video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

In [49]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

#### Q. ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [50]:
import datetime as dt

video['ct'] = pd.to_datetime(video['ct'])
channel['ct'] = pd.to_datetime(channel['ct'])

In [52]:
print(video['ct'].dtypes)
print(channel['ct'].dtypes)

datetime64[ns]
datetime64[ns]

In [53]:
video['videoname'].value_counts()

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

#### Q. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼<span style="color:red"> Re </span>

In [68]:
video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='last')[
    ['viewcnt', 'videoname', 'ct']].reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

#### Q. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼<span style="color:red"> Re </span>

In [81]:
target = channel[channel['ct']>=pd.to_datetime('2021-10-03')].sort_values(
    ['ct', 'channelname']).drop_duplicates(['channelname'])
target

,channelid,subcnt,viewcnt,videocnt,ct,channelname
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,ë…¼ë¦¬ì™• ì „ê¸°
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,ì•¼ì „ì‚½ì§±ì¬
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,ì¸„ì •ChuJeong
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,ë¦´í„ Lilpearl
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,ì™€ê¸€ì™€ê¸€ WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,ì¡°ë‚˜ë‹¨
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,í˜•ì‚¬!íƒì •ë˜ë‹¤
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,ê³½í† ë¦¬ kwak tori
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,ê½ˆëšœë£¹

#### Q. ê° ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [82]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']

end_df = end[['channelname', 'subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)

end_df.columns = ['channelname', 'end_sub']
start_df.columns = ['channelname', 'start_sub']

tt = pd.merge(start_df, end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
tt[['channelname', 'del']]

        channelname    del
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

#### Q. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼<span style="color:red"> Re </span>

In [99]:
ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)
ep_one

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,ê³µë²” EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1

In [103]:
ep_one[(ep_one.ct.diff(1) >= dt.timedelta(minutes=20)) |
       (ep_one.ct.diff(1) <= dt.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [104]:
ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

#### Q. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [108]:
temp = video[['ct', 'videoname']].sort_values('ct')
temp = temp.drop_duplicates('videoname')
temp['ct'] = temp.ct.dt.date
temp

               ct videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

#### Q. â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [123]:
temp = video[['videoname', 'viewcnt', 'ct']].sort_values('ct')
temp = temp[temp.ct.dt.hour == 21]
temp = temp.drop_duplicates('videoname').sort_values('viewcnt', ascending = False).reset_index(drop=True)
temp

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

#### Q. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [131]:
temp = video.sort_values('ct', ascending=False)
temp = temp.drop_duplicates('videoname')
temp['ratio'] = temp['dislikecnt'] / temp['likecnt']
temp[['videoname', 'ratio']].sort_values(by = 'ratio').reset_index(drop=True)

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

#### Q. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [182]:
tmp = video[(video.ct >= pd.to_datetime("2021-11-01 00:00:00"))&
           (video.ct <= pd.to_datetime("2021-11-01 15:00:00"))].sort_values('ct')
tmp_start = tmp.drop_duplicates('videoname').reset_index(drop=True)
tmp_last = tmp.drop_duplicates('videoname', 'last').reset_index(drop=True)

tmp_start = tmp_start[['videoname', 'viewcnt']]
tmp_last = tmp_last[['videoname', 'viewcnt']]

tmp_start.columns = ['videoname', 'viewcnt_s']
tmp_last.columns = ['videoname', 'viewcnt_l']

tmp = pd.merge(tmp_start, tmp_last).reset_index(drop=True)
tmp['viewcnt'] = tmp.viewcnt_l - tmp.viewcnt_s
tmp[['videoname', 'viewcnt']]

<ipython-input-182-ab4386e13c38>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop_duplicates except for the argument 'subset' will be keyword-only.
  tmp_last = tmp.drop_duplicates('videoname', 'last').reset_index(drop=True)

  videoname  viewcnt
0    ê³µë²” EP1    13298
1    ê³µë²” EP2    10300
2    ê³µë²” EP3     9927
3    ê³µë²” EP6    14141
4    ê³µë²” EP4     9824
5    ê³µë²” EP5    10824
6    ê³µë²” EP8    89147
7    ê³µë²” EP7    26949

#### Q. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [188]:
ans = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]
ans[['videoname', 'ct']]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

### ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •) <br>
ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [189]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv"

world = pd.read_csv(dataurl)
world.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

#### Q. ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [201]:
world[['Goals', 'Country']].groupby('Country').sum().sort_values(by = 'Goals', ascending = False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

#### Q. ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [206]:
world.groupby('Country').size().sort_values(ascending = False).head()

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

#### Q. Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼<span style="color:red"> Re </span>

In [210]:
world['yearLst'] = world['Years'].str.split("-")

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
    return True

world['check'] = world['yearLst'].apply(checkFour)
len(world[world.check==False])

45

#### Q. Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼(ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´)

In [217]:
df2 = world.loc[world['check']==True].reset_index(drop=True)
df2.shape[0]

1250

In [224]:
df2.head()

,Player,Goals,Years,Country,yearLst,check,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,4
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,3
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,2
3,Just Fontaine,13,1958,France,[1958],True,1
4,Pele,12,1958-1962-1966-1970,Brazil,"[1958, 1962, 1966, 1970]",True,4

#### Q. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [218]:
df2['LenCup'] = df2['yearLst'].str.len()
df2['LenCup'].value_counts()[4]

16

#### Q. Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [223]:
len(df2[(df2.Country == 'Yugoslavia') & (df2.LenCup == 2)])

7

#### Q. 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?<span style="color:red"> Re </span>

In [236]:
len(df2[df2.Years.str.contains('2002')])

156

#### Q. ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)<span style="color:red"> Re </span>

In [240]:
len(df2[df2.Player.str.lower().str.contains('carlos')])

13

#### Q. ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?<span style="color:red"> Re </span>

In [258]:
df2[df2.LenCup == 1].sort_values(by='Goals', ascending=False).Player.values[0]

'Just Fontaine'

#### Q. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [265]:
df2[df2.LenCup == 1].groupby('Country').size().sort_values(ascending=False).index[0]

'Brazil'

### ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15051872/fileData.do <br>
ë°ì´í„° ì„¤ëª… : ì„œìš¸íŠ¹ë³„ì‹œ_ê³µê³µìì „ê±° ì‹œê°„ëŒ€ë³„ ì´ìš©ì •ë³´ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [62]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv"
bicycle = pd.read_csv(dataurl)
bicycle.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

#### Q. ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

In [275]:
bicycle.groupby('ëŒ€ì—¬ì¼ì').size().to_frame()

                0
ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [277]:
bicycle.groupby('ëŒ€ì—¬ì¼ì').size().sort_values(ascending=False).index[0]

'2021-06-04'

#### Q. ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [63]:
import datetime as dt
bicycle['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(bicycle['ëŒ€ì—¬ì¼ì'])
bicycle['day_name'] = bicycle.ëŒ€ì—¬ì¼ì.dt.day_name()
bicycle.groupby('day_name').size().to_frame()

                0
day_name
Friday     108877
Monday     107568
Saturday   101299
Sunday      90918
Thursday    55977
Tuesday    103704
Wednesday  110607

#### Q. ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼<span style="color:red"> Re </span>

In [303]:
temp = bicycle.groupby(['day_name', 'ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('size').sort_values(['day_name', 'size'], ascending = False).reset_index()
temp.drop_duplicates('day_name').reset_index(drop=True)

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

#### Q. ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼<span style="color:red"> Re </span>

In [313]:
daily = bicycle[bicycle.ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ.isin(['ì¼ì¼ê¶Œ', 'ì¼ì¼ê¶Œ(ë¹„íšŒì›)']
                                   )].ì—°ë ¹ëŒ€ì½”ë“œ.value_counts().sort_index()
total = bicycle.ì—°ë ¹ëŒ€ì½”ë“œ.value_counts().sort_index()

ratio = (daily/total).sort_values(ascending=False)
print(ratio)

~10ëŒ€    0.312525
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
70ëŒ€~    0.048962
60ëŒ€     0.042462
Name: ì—°ë ¹ëŒ€ì½”ë“œ, dtype: float64

In [314]:
ratio.index[0]

'~10ëŒ€'

#### Q. ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼

In [318]:
bicycle[['ì—°ë ¹ëŒ€ì½”ë“œ', 'ì´ë™ê±°ë¦¬']].groupby(['ì—°ë ¹ëŒ€ì½”ë“œ']).mean()

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279

#### Q. ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [29]:
std = bicycle.ì´ë™ê±°ë¦¬.mean()
temp = bicycle[(bicycle.ì—°ë ¹ëŒ€ì½”ë“œ == "20ëŒ€") & (bicycle.ì´ë™ê±°ë¦¬ >= std)].sort_values(
    ['ëŒ€ì—¬ì¼ì', 'ëŒ€ì—¬ì†Œë²ˆí˜¸'], ascending = False).reset_index(drop=True).head(199).íƒ„ì†ŒëŸ‰.to_frame()
temp.íƒ„ì†ŒëŸ‰.astype(float).mean().round(3)

1.641

#### Q. 6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?<span style="color:red"> Re </span>

In [33]:
bicycle[(bicycle.ëŒ€ì—¬ì¼ì>= pd.to_datetime("2021-06-07")) & 
        (bicycle.ëŒ€ì—¬ì¼ì <= pd.to_datetime("2021-06-10"))].ì´ìš©ê±´ìˆ˜.median()

1.0

#### Q. í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„ ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼<span style="color:red"> Re </span>

In [52]:
temp = bicycle[(~bicycle.day_name.isin(['Saturday', 'Sunday'])) & (bicycle.ëŒ€ì—¬ì‹œê°„.isin([6,7,8]))].reset_index(drop=True)
temp = temp[['ëŒ€ì—¬ì‹œê°„', 'ëŒ€ì—¬ì†Œë²ˆí˜¸', 'ì´ìš©ê±´ìˆ˜']]
temp = temp.groupby(['ëŒ€ì—¬ì‹œê°„','ëŒ€ì—¬ì†Œë²ˆí˜¸']).size().to_frame('ì´ìš© íšŸìˆ˜')
temp.sort_values(['ëŒ€ì—¬ì‹œê°„', 'ì´ìš© íšŸìˆ˜'], ascending = False).groupby('ëŒ€ì—¬ì‹œê°„').head(3)

            ì´ìš© íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

#### Q. ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [54]:
bicycle[bicycle['ì´ë™ê±°ë¦¬'] >= bicycle.ì´ë™ê±°ë¦¬.mean()].ì´ë™ê±°ë¦¬.std()

5092.139707505305

#### Q. ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [64]:
bicycle.ì„±ë³„ = bicycle.ì„±ë³„.map(lambda x: "ë‚¨" if ((x == "M") | (x == "m")) else "ì—¬")
bicycle.ì„±ë³„.value_counts()

ë‚¨    400274
ì—¬    278676
Name: ì„±ë³„, dtype: int64

In [65]:
bicycle.groupby('ì„±ë³„').ì´ë™ê±°ë¦¬.mean()

ì„±ë³„
ë‚¨    3209.110871
ì—¬    3468.575025
Name: ì´ë™ê±°ë¦¬, dtype: float64

### ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/unsdsn/world-happiness <br>
ë°ì´í„° ì„¤ëª… : ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ì¡°ì‚¬ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv

In [66]:
# ë°ì´í„°ë¶ˆëŸ¬ì˜¤ê¸°

dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv"
happy = pd.read_csv(dataurl)
happy.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

#### Q. ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [72]:
happy[happy.í–‰ë³µë­í‚¹ == 10].ì ìˆ˜.mean()

7.259

#### Q. ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [78]:
happy[happy.í–‰ë³µë­í‚¹ <= 50].groupby('ë…„ë„').ì ìˆ˜.mean()

ë…„ë„
2018    6.64678
2019    6.67002
Name: ì ìˆ˜, dtype: float64

#### Q. 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [80]:
happy[happy.ë…„ë„ == 2018][['ì ìˆ˜', 'ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr()

                ì ìˆ˜  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
ì ìˆ˜        1.000000  0.405292
ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  0.405292  1.000000

#### Q. 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [81]:
len(happy[['í–‰ë³µë­í‚¹', 'ë‚˜ë¼ëª…']]) - len(happy[['í–‰ë³µë­í‚¹', 'ë‚˜ë¼ëª…']].drop_duplicates())

15

#### Q. 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼<span style="color:red"> Re </span>

In [89]:
temp = happy[happy.ë…„ë„ == 2019].corr().unstack().to_frame().reset_index().dropna()
temp = temp[temp[0] != 1].sort_values(0, ascending = False).drop_duplicates(0)
temp = temp.head(5).reset_index(drop=True)
temp.columns = ['v1', 'v2', 'corr']
temp

<ipython-input-89-22a71aef8616>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  temp = happy[happy.ë…„ë„ == 2019].corr().unstack().to_frame().reset_index().dropna()

      v1     v2      corr
0  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
1  ìƒëŒ€GDP     ì ìˆ˜  0.793883
2  í–‰ë³µê¸°ëŒ€ì¹˜     ì ìˆ˜  0.779883
3  ì‚¬íšŒì ì§€ì›     ì ìˆ˜  0.777058
4  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906

#### Q. ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [141]:
happy.groupby('ë…„ë„').tail(5).groupby('ë…„ë„').mean()[['ì ìˆ˜']]

<ipython-input-141-48f0459fcc8d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  happy.groupby('ë…„ë„').tail(5).groupby('ë…„ë„').mean()[['ì ìˆ˜']]

          ì ìˆ˜
ë…„ë„
2018  3.1800
2019  3.1408

#### Q. 2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼<span style="color:red"> Re </span>

In [143]:
over = happy[(happy.ë…„ë„ == 2019) & (happy.ìƒëŒ€GDP >= happy.ìƒëŒ€GDP.mean())].ì ìˆ˜.mean()
under = happy[(happy.ë…„ë„ == 2019) & (happy.ìƒëŒ€GDP <= happy.ìƒëŒ€GDP.mean())].ì ìˆ˜.mean()

print("í‰ê· ì´ìƒ: ", over)
print("í‰ê· ì´í•˜: ", under)
print("ì°¨ì´: ", over-under)

í‰ê· ì´ìƒ:  6.0132045454545455
í‰ê· ì´í•˜:  4.622720588235294
ì°¨ì´:  1.390483957219251

#### Q. ê° ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼ <span style="color:red"> Re </span>

In [149]:
happy.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'], ascending = False).groupby('ë…„ë„').head(20).groupby(['ë…„ë„']).mean()[['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']]

<ipython-input-149-4a4e2c5f4b0e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  happy.sort_values(['ë…„ë„','ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'], ascending = False).groupby('ë…„ë„').head(20).groupby(['ë…„ë„']).mean()[['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']]

      ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
ë…„ë„
2018    0.3267
2019    0.3201

#### Q. 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [161]:
len(set(happy[(happy.ë…„ë„ == 2018) & (happy.í–‰ë³µë­í‚¹ <= 50)]['ë‚˜ë¼ëª…']) - set(happy[(happy.ë…„ë„ == 2019) & (happy.í–‰ë³µë­í‚¹ <= 50)]['ë‚˜ë¼ëª…']))

4

#### Q. 2018ë…„, 2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?<span style="color:red"> Re </span>

In [174]:
count = happy.ë‚˜ë¼ëª….value_counts()
target = count[count==2].index

happy2 = happy.copy()
multiple= happy2[happy2.ë‚˜ë¼ëª….isin(target)].reset_index(drop=True)
multiple.loc[multiple.ë…„ë„ == 2018, 'ì ìˆ˜'] = multiple[multiple.ë…„ë„==2018]['ì ìˆ˜'].values * (-1)

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
299,152,Yemen,-3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
300,153,Tanzania,-3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
301,154,South Sudan,-3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
302,155,Central African Republic,-3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
303,156,Burundi,-2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [177]:
multiple.groupby('ë‚˜ë¼ëª…').sum()['ì ìˆ˜'].sort_values().to_frame().iloc[-1]

ì ìˆ˜    0.87
Name: Burundi, dtype: float64

### ì§€ì—­êµ¬ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city <br>
ë°ì´í„° ì„¤ëª… : ê¸°ì˜¨, ìŠµë„,ë°”ëŒí’ì†ì— ë”°ë¥¸ ë„ì‹œì˜ 3ê°œ ì§€ì—­êµ¬ì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan City power consumption.csv

In [3]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

energy= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
energy.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

#### Q. DateTimeì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ êµ¬í•˜ì—¬ë¼

In [18]:
import datetime as dt
energy.DateTime = pd.to_datetime(energy.DateTime)

energy.groupby(energy.DateTime.dt.month).size().to_frame()

             0
DateTime
1         4464
2         4032
3         4464
4         4320
5         4464
6         4320
7         4464
8         4464
9         4320
10        4464
11        4320
12        4320

#### Q. 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [195]:
energy[energy.DateTime.dt.month == 3].groupby(energy.DateTime.dt.hour).mean()['Temperature'].sort_values().head(1)

<ipython-input-195-b4103a0edab9>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  energy[energy.DateTime.dt.month == 3].groupby(energy.DateTime.dt.hour).mean()['Temperature'].sort_values().head(1)

DateTime
7    11.506613
Name: Temperature, dtype: float64

#### Q. 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [196]:
energy[energy.DateTime.dt.month == 3].groupby(energy.DateTime.dt.hour).mean()['Temperature'].sort_values(ascending=False).values[0]

<ipython-input-196-cb1401fd3fd4>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  energy[energy.DateTime.dt.month == 3].groupby(energy.DateTime.dt.hour).mean()['Temperature'].sort_values(ascending=False).values[0]

18.393602150537635

#### Q. Zone 1 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ê°€ Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [12]:
energy[energy['Zone 1 Power Consumption'] > energy['Zone 2  Power Consumption']].Humidity.mean()

68.23624448055052

#### Q. ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼

In [15]:
energy[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

#### Q. Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B,20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í• ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [17]:
def trans(x):
    if x.Temperature < 10:
        return 'A'
    elif x.Temperature < 20:
        return 'B'
    elif x.Temperature < 30:
        return 'C'
    else:
        return 'D'

energy['temp'] = energy.apply(trans, axis = 1)
energy['temp'].value_counts()

B    26993
C    21105
A     2874
D     1444
Name: temp, dtype: int64

#### Q. 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼

In [22]:
energy[(energy.DateTime.dt.month == 6) & (energy.DateTime.dt.hour == 12)].Temperature.std()

2.049941782795103

#### Q. 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼

In [23]:
energy[(energy.DateTime.dt.month == 6) & (energy.DateTime.dt.hour == 12)].Temperature.var()

4.202261312849164

#### Q. Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

In [34]:
energy[energy.Temperature >= energy.Temperature.mean()].sort_values('Temperature').reset_index(drop=True).Humidity[3]

87.9

#### Q. Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?<span style="color:red"> Re </span>

In [48]:
energy[energy.Temperature >= energy.Temperature.median()].sort_values('Temperature').Humidity.values[3]

80.3

### í¬ì¼“ëª¬ ì •ë³´ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :  https://www.kaggle.com/abcsds/pokemon <br>
ë°ì´í„° ì„¤ëª… : í¬ì¼“ëª¬ ì •ë³´ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [49]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv"
pocketmon = pd.read_csv(dataurl)
pocketmon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Q. Legendary ì»¬ëŸ¼ì€ ì „ì„¤í¬ì¼“ëª¬ ìœ ë¬´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HPí‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [51]:
pocketmon[pocketmon.Legendary==True].HP.mean() - pocketmon[pocketmon.Legendary==False].HP.mean()

25.55614861329147

#### Q. Type 1ì€ ì£¼ì†ì„± Type 2 ëŠ” ë¶€ì†ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. ê°€ì¥ ë§ì€ ë¶€ì†ì„± ì¢…ë¥˜ëŠ” ë¬´ì—‡ì¸ê°€?

In [55]:
pocketmon['Type 2'].value_counts().index[0]

'Flying'

#### Q. ê°€ì¥ ë§ì€ Type 1 ì˜ ì¢…ì˜ í‰ê·  Attack ì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆê°’ì€?

In [58]:
x = pocketmon['Type 1'].value_counts().index[0]
x

'Water'

In [59]:
pocketmon[pocketmon['Type 1'] == x].Attack.mean() / pocketmon[pocketmon['Type 1'] == x].Defense.mean()

1.0165238678090576

#### Q. í¬ì¼“ëª¬ ì„¸ëŒ€(Generation) ì¤‘ ê°€ì¥ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€ëŠ” ëª‡ì„¸ëŒ€ì¸ê°€?<span style="color:red"> Re </span>

In [80]:
pocketmon[pocketmon.Legendary == True].Generation.value_counts().index[0]

3

#### Q. â€˜HPâ€™, â€˜Attackâ€™, â€˜Defenseâ€™, â€˜Sp. Atkâ€™, â€˜Sp. Defâ€™, â€˜Speedâ€™ ê°„ì˜ ìƒê´€ ê³„ìˆ˜ì¤‘ ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’ì„ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [90]:
temp = pocketmon[['HP', 'Attack', 'Defense', 'Sp. Atk','Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0:'corr'})
temp

    level_0  level_1      corr
0        HP       HP  1.000000
1        HP   Attack  0.422386
2        HP  Defense  0.239622
3        HP  Sp. Atk  0.362380
4        HP  Sp. Def  0.378718
5        HP    Speed  0.175952
6    Attack       HP  0.422386
7    Attack   Attack  1.000000
8    Attack  Defense  0.438687
9    Attack  Sp. Atk  0.396362
10   Attack  Sp. Def  0.263990
11   Attack    Speed  0.381240
12  Defense       HP  0.239622
13  Defense   Attack  0.438687
14  Defense  Defense  1.000000
15  Defense  Sp. Atk  0.223549
16  Defense  Sp. Def  0.510747
17  Defense    Speed  0.015227
18  Sp. Atk       HP  0.362380
19  Sp. Atk   Attack  0.396362
20  Sp. Atk  Defense  0.223549
21  Sp. Atk  Sp. Atk  1.000000
22  Sp. Atk  Sp. Def  0.506121
23  Sp. Atk    Speed  0.473018
24  Sp. Def       HP  0.378718
25  Sp. Def   Attack  0.263990
26  Sp. Def  Defense  0.510747
27  Sp. Def  Sp. Atk  0.506121
28  Sp. Def  Sp. Def  1.000000
29  Sp. Def    Speed  0.259133
30    Speed       HP  0.175952
31    Speed   Attack  0.381240
32    Speed  Defense  0.015227
33    Speed  Sp. Atk  0.473018
34    Speed  Sp. Def  0.259133
35    Speed    Speed  1.000000

In [93]:
temp[temp['corr'] != 1].sort_values('corr', ascending = False).iloc[0]

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

#### Q. ê° Generationì˜ Attackìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 3ê°œ ë°ì´í„°ë“¤(18ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [128]:
pocketmon.sort_values(by=['Generation', 'Attack']).groupby('Generation').head(3).Attack.mean()

19.5

#### Q. ê° Generationì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 5ê°œ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [132]:
pocketmon.sort_values(by=['Generation', 'Attack'],ascending= False).groupby('Generation').head(5).Attack.mean()

157.23333333333332

#### Q. ê°€ì¥ í”í•˜ê²Œ ë°œê²¬ë˜ëŠ” (Type1 , Type2) ì˜ ìŒì€ ë¬´ì—‡ì¸ê°€?

In [135]:
pocketmon[['Type 1', 'Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

#### Q. í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì˜ ê°¯ìˆ˜ëŠ” ëª‡ê°œì¸ê°€?<span style="color:red"> Re </span>

In [147]:
temp = pocketmon[['Type 1', 'Type 2']].value_counts()
len(temp[temp==1])

39

#### Q. í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€(Generation)ì€ ê°ê° ëª‡ê°œì”© ê°€ì§€ê³  ìˆëŠ”ê°€?<span style="color:red"> Re </span>

In [151]:
target = pocketmon[['Type 1', 'Type 2']].value_counts()
target2 = target[target==1]

lst = []

for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = pocketmon[(pocketmon['Type 1'] == t1) & (pocketmon['Type 2'] == t2)]
    lst.append(sp)
    
result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()

In [152]:
result

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

### ëŒ€í•œë¯¼êµ­ ì²´ë ¥ì¥ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : êµ­ë¯¼ì²´ìœ¡ì§„í¥ê³µë‹¨ (ë¬¸í™” ë¹…ë°ì´í„°í”Œë«í¼) <br>
ë°ì´í„° ì„¤ëª… : ëŒ€í•œë¯¼êµ­ êµ­ë¯¼ ì²´ë ¥ì¥ í‰ê°€ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv

In [153]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv"
fitness = pd.read_csv(dataurl)
fitness.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

#### Q. ì „ì²´ë°ì´í„°ì˜ ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [154]:
fitness['dif'] = fitness['ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg'] - fitness['ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg']
fitness['dif'].mean()

52.19539414750672

#### Q. 50~59ì„¸ì˜ ì‹ ì¥í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [155]:
fitness[(fitness.ì¸¡ì •ë‚˜ì´ >= 50) & (fitness.ì¸¡ì •ë‚˜ì´ < 60)]['ì‹ ì¥ : cm'].mean()

164.07490107405314

#### Q.ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ì¸ì›ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [160]:
fitness['ì—°ë ¹ëŒ€'] = ((fitness['ì¸¡ì •ë‚˜ì´']//10)*10).astype(int)
fitness['ì—°ë ¹ëŒ€'].value_counts()

20    5831
30    2660
40    1801
50    1769
60    1335
Name: ì—°ë ¹ëŒ€, dtype: int64

#### Q.ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ë“±ê¸‰ì˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [171]:
fitness.groupby(['ì—°ë ¹ëŒ€', 'ë“±ê¸‰']).size()

ì—°ë ¹ëŒ€  ë“±ê¸‰
20   A     1585
     B     1443
     C     1455
     D     1348
30   A      743
     B      697
     C      626
     D      594
40   A      386
     B      428
     C      455
     D      532
50   A      321
     B      410
     C      474
     D      564
60   A      314
     B      371
     C      339
     D      311
dtype: int64

#### Q. ë‚¨ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [174]:
abs(fitness[(fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'M') & (fitness.ë“±ê¸‰ =='A')]['ì²´ì§€ë°©ìœ¨ : %'].mean()-fitness[(fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'M') & (fitness.ë“±ê¸‰ =='D')]['ì²´ì§€ë°©ìœ¨ : %'].mean())

7.932086486137521

#### Q. ì—¬ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [176]:
abs(fitness[(fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'F') & (fitness.ë“±ê¸‰ =='A')][
    'ì²´ì¤‘ : kg'].mean()-fitness[(fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'F') &
                               (fitness.ë“±ê¸‰ =='D')]['ì²´ì¤‘ : kg'].mean())

5.176211590296504

#### Q. bmiëŠ” ìì‹ ì˜ ëª¸ë¬´ê²Œ(kg)ë¥¼ í‚¤ì˜ ì œê³±(m)ìœ¼ë¡œ ë‚˜ëˆˆê°’ì´ë‹¤. ë°ì´í„°ì˜ bmi ë¥¼ êµ¬í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë‚¨ì„±ì˜ bmi í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [180]:
fitness['bmi'] = fitness['ì²´ì¤‘ : kg'] / ((fitness['ì‹ ì¥ : cm'] /100)**2)
fitness[fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'M'].bmi.mean()

24.46134409819308

#### Q. bmië³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [182]:
fitness[fitness['bmi'] < fitness['ì²´ì§€ë°©ìœ¨ : %']]['ì²´ì¤‘ : kg'].mean()

61.7408806392542

#### Q. ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [183]:
fitness[fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'M']['ì•…ë ¥D : kg'].mean() -fitness[fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'F']['ì•…ë ¥D : kg'].mean()

17.55954185047464

#### Q. ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [184]:
fitness[fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'M']['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'].mean() -fitness[fitness.ì¸¡ì •íšŒì›ì„±ë³„ == 'F']['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ'].mean()

14.243156833157627

### ê¸°ì˜¨ ê°•ìˆ˜ëŸ‰ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro <br>
ë°ì´í„° ì„¤ëª… : 2020ë…„ë„ ì´í™”ë™(ì„œìš¸) , ìˆ˜ì˜ë™(ë¶€ì‚°)ì˜ ì‹œê°„ë‹¨ìœ„ì˜ ê¸°ì˜¨ê³¼ ê°•ìˆ˜ëŸ‰ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv

In [185]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv"
temp = pd.read_csv(dataurl)
temp.head()

                  time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

#### Q. ì—¬ë¦„ì² (6ì›”,7ì›”,8ì›”) ì´í™”ë™ì´ ìˆ˜ì˜ë™ë³´ë‹¤ ë†’ì€ ê¸°ì˜¨ì„ ê°€ì§„ ì‹œê°„ëŒ€ëŠ” ëª‡ê°œì¸ê°€?

In [193]:
temp.time = pd.to_datetime(temp.time)

len(temp[(temp.time.dt.month.isin([6, 7, 8])) & (temp.ì´í™”ë™ê¸°ì˜¨ > temp.ìˆ˜ì˜ë™ê¸°ì˜¨)].time.dt.hour)

1415

#### Q. ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€ë¥¼ ê°ê° êµ¬í•˜ì—¬ë¼

In [199]:
print(temp.sort_values('ì´í™”ë™ê°•ìˆ˜', ascending = False).time.values[0])
print(temp.sort_values('ìˆ˜ì˜ë™ê°•ìˆ˜', ascending = False).time.values[0])

2020-09-30T09:00:00.000000000
2020-07-23T12:00:00.000000000

### ì„œë¹„ìŠ¤ ì´íƒˆì˜ˆì¸¡ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/shubh0799/churn-modelling ì—ì„œ ë³€í˜• <br>
ë°ì´í„° ì„¤ëª… : ê³ ê°ì˜ ì‹ ìƒì •ë³´ ë°ì´í„°ë¥¼ í†µí•œ íšŒì‚¬ ì„œë¹„ìŠ¤ ì´íƒˆ ì˜ˆì¸¡ (ì¢…ì†ë³€ìˆ˜ : Exited) <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv

In [201]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv'
service = pd.read_csv(dataurl)
service.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

#### Q. ë‚¨ì„± ì´íƒˆ(Exited)ì´ ê°€ì¥ ë§ì€ êµ­ê°€(Geography)ëŠ” ì–´ë””ì´ê³  ì´íƒˆ ì¸ì›ì€ ëª‡ëª…ì¸ê°€?

In [203]:
service[(service.Gender == 'Male') & (service.Exited == 1)].Geography.value_counts().head(1)

Germany    287
Name: Geography, dtype: int64

#### Q. ì¹´ë“œë¥¼ ì†Œìœ (HasCrCard ==1)í•˜ê³  ìˆìœ¼ë©´ì„œ í™œì„±ë©¤ë²„(IsActiveMember ==1) ì¸ ê³ ê°ë“¤ì˜ í‰ê·  ë‚˜ì´ë¥¼ ì†Œìˆ«ì ì´í•˜ 4ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [206]:
service[(service.HasCrCard == 1) & (service.IsActiveMember == 1)].Age.mean().round(4)

39.6102

#### Q. Balance ê°’ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°€ì§€ëŠ” ê³ ê°ë“¤ì˜ CreditScoreì˜ í‘œì¤€í¸ì°¨ë¥¼ ì†Œìˆ«ì ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [210]:
round(service[service.Balance >= service.Balance.median()].CreditScore.std(), 3)

97.295

### ì„±ì¸ ê±´ê°•ê²€ì§„ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.data.go.kr/data/15007122/fileData.do <br>
ë°ì´í„° ì„¤ëª… : 2018ë…„ë„ ì„±ì¸ì˜ ê±´ê°•ê²€ ì§„ë°ì´í„° (í¡ì—°ìƒíƒœ 1- í¡ì—°, 0-ë¹„í¡ì—° ) <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv

In [211]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv'
adult = pd.read_csv(dataurl)
adult.head()

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,í˜ˆìƒ‰ì†Œ,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

#### Q. ìˆ˜ì¶•ê¸°í˜ˆì••ê³¼ ì´ì™„ê¸° í˜ˆì••ê¸° ìˆ˜ì¹˜ì˜ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼(â€˜í˜ˆì••ì°¨â€™) ìœ¼ë¡œ ìƒì„±í•˜ê³ , ì—°ë ¹ëŒ€ ì½”ë“œë³„ ê° ê·¸ë£¹ ì¤‘ â€˜í˜ˆì••ì°¨â€™ ì˜ ë¶„ì‚°ì´ 5ë²ˆì§¸ë¡œ í° ì—°ë ¹ëŒ€ ì½”ë“œë¥¼ êµ¬í•˜ì—¬ë¼

In [215]:
adult['í˜ˆì••ì°¨'] = adult['ìˆ˜ì¶•ê¸°í˜ˆì••'] - adult['ì´ì™„ê¸°í˜ˆì••']
adult.groupby('ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)').í˜ˆì••ì°¨.std().sort_values(ascending = False).index[4]

60

#### Q. ë¹„ë§Œë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œì¸ WHtRëŠ” í—ˆë¦¬ë‘˜ë ˆ / í‚¤ë¡œ í‘œí˜„í•œë‹¤. ì¼ë°˜ì ìœ¼ë¡œ 0.58ì´ìƒì´ë©´ ë¹„ë§Œìœ¼ë¡œ ë¶„ë¥˜í•œë‹¤. ë°ì´í„°ì¤‘ WHtR ì§€í‘œìƒ ë¹„ë§Œì¸ ì¸ì›ì˜ ë‚¨/ì—¬ ë¹„ìœ¨ì„ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [220]:
adult['WhtR'] = adult['í—ˆë¦¬ë‘˜ë ˆ'] / adult['ì‹ ì¥(5Cmë‹¨ìœ„)']
data = adult[adult.WhtR >= 0.58].groupby('ì„±ë³„ì½”ë“œ').size()
data['M']/data['F']

1.1693877551020408

### ìë™ì°¨ ë³´í—˜ê°€ì… ì˜ˆì¸¡ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction <br>
ë°ì´í„° ì„¤ëª… : ìë™ì°¨ ë³´í—˜ ê°€ì… ì˜ˆì¸¡ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv

In [221]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv'
auto = pd.read_csv(dataurl)
auto.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

In [224]:
auto.dtypes

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

In [225]:
auto.Vehicle_Age.value_counts()

1-2 Year     160409
< 1 Year     131696
> 2 Years     12782
Name: Vehicle_Age, dtype: int64

#### Q. Vehicle_Age ê°’ì´ 2ë…„ ì´ìƒì¸ ì‚¬ëŒë“¤ë§Œ í•„í„°ë§ í•˜ê³  ê·¸ì¤‘ì—ì„œ Annual_Premium ê°’ì´ ì „ì²´ ë°ì´í„°ì˜ ì¤‘ê°„ê°’ ì´ìƒì¸ ì‚¬ëŒë“¤ì„ ì°¾ê³ , ê·¸ë“¤ì˜ Vintageê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [226]:
auto[(auto['Vehicle_Age'] == "> 2 Years") & (auto['Annual_Premium'] >= auto.Annual_Premium.median())].Vintage.mean()

154.43647182359118

#### Q. vehicle_ageì— ë”°ë¥¸ ê° ì„±ë³„(gender)ê·¸ë£¹ì˜ Annual_Premiumê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ ì•„ë˜ í…Œì´ë¸”ê³¼ ë™ì¼í•˜ê²Œ êµ¬í˜„í•˜ë¼<span style="color:red"> Re </span>

In [243]:
auto.pivot_table(index = 'Vehicle_Age' , columns = 'Gender', values = 'Annual_Premium', aggfunc = 'mean')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

### í•¸ë“œí° ê°€ê²© ì˜ˆì¸¡ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv <br>
ë°ì´í„° ì„¤ëª… : í•¸ë“œí° ê°€ê²©ì˜ˆì¸¡(price_rangeì»¬ëŸ¼ 0(ì €ë ´) ~3(ë§¤ìš°ë¹„ìŒˆ) ë²”ìœ„) <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv

In [2]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv'
phone = pd.read_csv(dataurl)
phone.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

#### Q. price_range ì˜ ê° valueë¥¼ ê·¸ë£¹í•‘í•˜ì—¬ ê° ê·¸ë£¹ì˜ n_cores ì˜ ë¹ˆë„ê°€ ê°€ì¥ë†’ì€ valueì™€ ê·¸ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [10]:
phone.groupby(['price_range', 'n_cores']).size().to_frame("size").sort_values(by='size', ascending=False).groupby('price_range').head(1)

                     size
price_range n_cores
1           4          76
2           4          73
3           5          70
0           2          69

#### Q. price_range ê°’ì´ 3ì¸ ê·¸ë£¹ì—ì„œ ìƒê´€ê´€ê³„ê°€ 2ë²ˆì§¸ë¡œ ë†’ì€ ë‘ ì»¬ëŸ¼ê³¼ ê·¸ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [19]:
cor = phone.loc[phone.price_range == 3].corr().unstack().sort_values(ascending = False)
cor[cor != 1].reset_index().iloc[1]

level_0          pc
level_1          fc
0          0.635166
Name: 1, dtype: object

### ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv <br>
ë°ì´í„° ì„¤ëª… : ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ (satisfaction ì»¬ëŸ¼ : â€˜neutral or dissatisfiedâ€™ or satisfied ) (83123, 24) shape <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv

In [20]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv'
air = pd.read_csv(dataurl)
air.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

In [29]:
air['satisfaction'].value_counts()

neutral or dissatisfied    47103
satisfied                  36020
Name: satisfaction, dtype: int64

In [28]:
air['Class'].value_counts()

Business    39791
Eco         37349
Eco Plus     5983
Name: Class, dtype: int64

#### Q. Arrival Delay in Minutes ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë“¤ ì¤‘ â€˜neutral or dissatisfiedâ€™ ë³´ë‹¤ â€˜satisfiedâ€™ì˜ ìˆ˜ê°€ ë” ë†’ì€ ClassëŠ” ì–´ë”” ì¸ê°€?<span style="color:red"> Re </span>

In [42]:
temp = air[air['Arrival Delay in Minutes'].isnull()
          ].groupby(['Class','satisfaction'],as_index=False).size().pivot(
    index='Class',columns='satisfaction')

temp[temp['size']['neutral or dissatisfied'] < temp['size']['satisfied']]

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76

### ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/adityakadiwal/water-potability<br>
ë°ì´í„° ì„¤ëª… : ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ (Potablillity ì»¬ëŸ¼ : 0 ,1) <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

In [2]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv'
water = pd.read_csv(dataurl)
water.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

In [8]:
water.shape

(2620, 10)

#### Q. phê°’ì€ ìƒë‹¹íˆ ë§ì€ ê²°ì¸¡ì¹˜ë¥¼ í¬í•¨í•œë‹¤. ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ë°ì´í„°ë“¤ ì¤‘ ì‚¬ë¶„ìœ„ê°’ ê¸°ì¤€ í•˜ìœ„ 25%ì˜ ê°’ë“¤ì˜ í‰ê· ê°’ì€?

In [4]:
water.ph.isnull().sum()

395

In [11]:
water[(~water.ph.isnull()) & (water.ph <= water.ph.quantile(0.25))].ph.mean()

5.057093462441731

### ì˜ë£Œ ë¹„ìš© ì˜ˆì¸¡ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/mirichoi0218/insurance/code <br>
ë°ì´í„° ì„¤ëª… : ì˜ë£Œë¹„ìš© ì˜ˆì¸¡ë¬¸ì œ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv

In [12]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv'
medical = pd.read_csv(dataurl)
medical.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

#### Q. í¡ì—°ìì™€ ë¹„í¡ì—°ì ê°ê° chargesì˜ ìƒìœ„ 10% ê·¸ë£¹ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?<span style="color:red"> Re </span>

In [26]:
high = medical.loc[medical.smoker =='yes'].charges.quantile(0.9)
high2 = medical.loc[medical.smoker =='no'].charges.quantile(0.9)
mean_yes = medical.loc[(medical.smoker =='yes') &(medical.charges >=high)].charges.mean()
mean_no = medical.loc[(medical.smoker =='no') &(medical.charges >=high2)].charges.mean()
mean_yes - mean_no

29297.954548156144

### í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²©ì˜ˆì¸¡ë¬¸ì œ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/harlfoxem/housesalesprediction <br>
ë°ì´í„° ì„¤ëª… : í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²© ì˜ˆì¸¡ë¬¸ì œ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv

In [27]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv'
king = pd.read_csv(dataurl)
king.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

#### Q. bedrooms ì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë“¤ì˜ priceì˜ ìƒìœ„ 10%ì™€ í•˜ìœ„ 10%ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [31]:
num = king.bedrooms.value_counts().index[0]
king[king.bedrooms == num].price.quantile(0.9)-king[king.bedrooms == num].price.quantile(0.1)

505500.0

### ëŒ€í•™ì› ì…í•™ê°€ëŠ¥ì„± ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/mohansacharya/graduate-admissions <br>
ë°ì´í„° ì„¤ëª… : ëŒ€í•™ì› ì…í•™ ê°€ëŠ¥ì„± ì˜ˆì¸¡ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv

In [45]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv'
college = pd.read_csv(dataurl)
college.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

#### Q. Serial No. ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  â€˜Chance of Admitâ€™ì„ ì¢…ì†ë³€ìˆ˜, ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë¥¼ ë…ë¦½ë³€ìˆ˜ë¼ í• ë•Œ, ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í†µí•´ íšŒê·€ ì˜ˆì¸¡ì„ í•  ë•Œ ë³€ìˆ˜ì¤‘ìš”ë„ ê°’ì„ ì¶œë ¥í•˜ë¼ (ì‹œë“œê°’ì— ë”°ë¼ ìˆœì„œëŠ” ë‹¬ë¼ì§ˆìˆ˜ ìˆìŒ)<span style="color:red"> Re </span>

In [46]:
from sklearn.ensemble import RandomForestRegressor
college = college.drop('Serial No.', axis=1)
college.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,328,110,4,4.0,2.5,9.02,1,0.81
1,323,113,3,4.0,4.0,8.88,1,0.79
2,296,95,2,3.0,2.0,7.54,1,0.44
3,334,116,4,4.0,3.0,8.00,1,0.78
4,321,114,5,4.5,4.5,9.16,1,0.87

In [47]:
y = college[['Chance of Admit']]
x = college.drop('Chance of Admit', axis=1)

In [50]:
ml = RandomForestRegressor()
ml.fit(x, y)

pd.DataFrame({'importance' : ml.feature_importances_}, x.columns)

<ipython-input-50-7c2d2b30f51f>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  ml.fit(x, y)

                   importance
GRE Score            0.103458
TOEFL Score          0.033258
University Rating    0.013654
SOP                  0.024081
LOR                  0.023716
CGPA                 0.794893
Research             0.006938

### ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009 <br>
ë°ì´í„° ì„¤ëª… : ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ë¬¸ì œ <br>
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv

In [51]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv'
wine = pd.read_csv(dataurl)
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

#### Q. quality ê°’ì´ 3ì¸ ê·¸ë£¹ê³¼ 8ì¸ ë°ì´í„°ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ë³„ ë…ë¦½ë³€ìˆ˜ì˜ í‘œì¤€í¸ì°¨ ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í• ë•Œ ê·¸ê°’ì´ ê°€ì¥ í° ì»¬ëŸ¼ëª…ì„ êµ¬í•˜ì—¬ë¼<span style="color:red"> Re </span>

In [60]:
temp = (abs(wine[wine.quality==3].std() - wine[wine.quality == 8].std())).to_frame("val")
temp.sort_values(by='val', ascending = False).index[0]

'total sulfur dioxide'

### ì•½ë¬¼ ë¶„ë¥˜ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/prathamtripathi/drug-classification <br>
ë°ì´í„° ì„¤ëª… : íˆ¬ì•½í•˜ëŠ” ì•½ì„ ë¶„ë¥˜ <br>
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

In [61]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
Dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv'
medi = pd.read_csv(Dataurl)
medi.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

#### Q. ë‚¨ì„±ë“¤ì˜ ì—°ë ¹ëŒ€ë³„ (10ì‚´ì”© êµ¬ë¶„ 0-9ì„¸ 10-19ì„¸ â€¦) Na_to_Kê°’ì˜ í‰ê· ê°’ì„ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ì—¬ë¼

In [63]:
medi['age_sub'] = (medi['Age']//10)*10
medi['age_sub'].value_counts()

40    33
30    30
20    26
50    26
60    22
70    11
10     9
Name: age_sub, dtype: int64

In [74]:
medi[medi.Sex=="M"].groupby('age_sub').Na_to_K.mean().to_frame('Na_to_K')

           Na_to_K
age_sub
10       13.627000
20       18.260769
30       15.244143
40       13.897273
50       14.811273
60       14.284308
70       11.363857

### ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/sid321axn/audit-data <br>
ë°ì´í„° ì„¤ëª… : ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜ <br>
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv

In [75]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

Dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv'
company = pd.read_csv(Dataurl)
company.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

#### Q. ë°ì´í„°ì˜ Risk ê°’ì— ë”°ë¥¸ score_aì™€ score_bì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [83]:
company.groupby('Risk')['Score_A', 'Score_B'].mean()

<ipython-input-83-469d2aa4cfe6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  company.groupby('Risk')['Score_A', 'Score_B'].mean()

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

### ì„¼ì„œë°ì´í„° ë™ì‘ìœ í˜• ë¶„ë¥˜ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/kyr7plus/emg-4 <br>
ë°ì´í„° ì„¤ëª… : ì„¼ì„œë°ì´í„°ë¡œ ë™ì‘ ìœ í˜• ë¶„ë¥˜ <br>
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv

In [84]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
Dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv'
sensor = pd.read_csv(Dataurl)
sensor.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

#### Q. poseê°’ì— ë”°ë¥¸ ê° motionì»¬ëŸ¼ì˜ ì¤‘ê°„ê°’ì˜ ê°€ì¥ í° ì°¨ì´ë¥¼ ë³´ì´ëŠ” motionì»¬ëŸ¼ì€ ì–´ë””ì´ë©° ê·¸ê°’ì€?

In [109]:
(abs(sensor.groupby('pose').median().iloc[0,:] - sensor.groupby('pose').median().iloc[1,:])).sort_values(ascending=False).head(2)

motion_54    4.0
motion_62    4.0
dtype: float64

### í˜„ëŒ€ ì°¨ëŸ‰ ê°€ê²© ë¶„ë¥˜ë¬¸ì œ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing<br>
ë°ì´í„° ì„¤ëª… : í˜„ëŒ€ ì°¨ëŸ‰ê°€ê²© ë¶„ë¥˜ë¬¸ì œ <br>
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv

In [110]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
Dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv'
hyundai = pd.read_csv(Dataurl)
hyundai.head()

,model,year,price,transmission,mileage,fuelType,tax(Â£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

#### Q. ì •ë³´(rowìˆ˜)ê°€ ê°€ì¥ ë§ì€ ìƒìœ„ 3ì°¨ì¢…ì˜ priceê°’ì˜ ê° í‰ê· ê°’ì€?

In [122]:
car = hyundai.value_counts('model').index[:3]
hyundai[hyundai.model.isin(car)].groupby('model').price.mean()

model
 I10        7646.137891
 I30       11651.821759
 Tucson    15805.441373
Name: price, dtype: float64

### ë‹¹ë‡¨ì—¬ë¶€íŒë‹¨ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/pritsheta/diabetes-dataset <br>
ë°ì´í„° ì„¤ëª… : ë‹¹ë‡¨ì—¬ë¶€ íŒë‹¨í•˜ê¸° <br>
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv

In [123]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
Dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv'
df = pd.read_csv(Dataurl)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

#### Q. Outcome ê°’ì— ë”°ë¥¸ ê° ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ì˜ í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [125]:
temp = df.groupby('Outcome').mean().T
temp[0] - temp[1]

Pregnancies                 -1.574159
Glucose                    -29.943995
BloodPressure               -3.202079
SkinThickness               -2.952033
Insulin                    -33.398645
BMI                         -4.541437
DiabetesPedigreeFunction    -0.143646
Age                         -5.866939
dtype: float64

### ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/pritsheta/netflix-stock-data-from-2002-to-2021 <br>
ë°ì´í„° ì„¤ëª… : ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ë°ì´í„° <br>
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv

In [136]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
Dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv'
netflix = pd.read_csv(Dataurl)
netflix.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

#### Q. ë§¤ë…„ 5ì›”ë‹¬ì˜ openê°€ê²©ì˜ í‰ê· ê°’ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [137]:
import datetime as dt

netflix.Date = pd.to_datetime(netflix.Date)
netflix.Date

0      2002-05-23
1      2002-05-24
2      2002-05-28
3      2002-05-29
4      2002-05-30
          ...
4869   2021-09-24
4870   2021-09-27
4871   2021-09-28
4872   2021-09-29
4873   2021-09-30
Name: Date, Length: 4874, dtype: datetime64[ns]

In [146]:
netflix[netflix['Date'].dt.month == 5].groupby(netflix['Date'].dt.to_period('M')).Open.mean()

Date
2002-05      1.155833
2003-05      1.641497
2004-05      4.261143
2005-05      1.951905
2006-05      4.163571
2007-05      3.159351
2008-05      4.435034
2009-05      5.790571
2010-05     14.417071
2011-05     34.650272
2012-05     10.523247
2013-05     31.936429
2014-05     51.121292
2015-05     85.057429
2016-05     92.705715
2017-05    158.255455
2018-05    329.779541
2019-05    359.664548
2020-05    433.880499
2021-05    496.923996
Freq: M, Name: Open, dtype: float64